.btn-box {

	&__title {
		color: var(--color-dark);

		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}

	&__text {
		text-align: right;
		
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
}