.btn {
	display: inline-flex;
	align-items: center;
	gap: rem(30);
	color: var(--color-dark);
	font-weight: 500;
	text-transform: uppercase;
	background: var(--color-accent);
	padding: adapt(20, 16) adapt(30, 20);
	border-radius: 8px;
	line-height: 100%;
	transition: all var(--duration-medium);
	border: 3px solid transparent;

	

	svg {
		transition: transform var(--duration-medium);
	}
	&--stroke {
		background: transparent;
		border-color: var(--color-dark);
	}
	&--dark {
		background: var(--color-dark);
		border-color: var(--color-dark);
		color: var(--color-light);

		@include hover {
			color: var(--color-dark);
			background: var(--color-accent);
		}
	}
	@include hover {
		color: var(--color-light);
		background: var(--color-dark);

		svg {
			transform: rotate(45deg);
		}
	}

	
}
.cart-btn {
	--quantity-bg: var(--color-accent);
	--quantity-color: var(--color-gray);

	display: grid;
	justify-items: center;
	position: relative;
	padding-block: 10px;
	color: var(--color-gray);

	@include hover {
		color: var(--color-dark);
		.cart-btn__icon {
			transform: scale(1.1);
		}
	}

	&__quantity {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		border-radius: 50%;
		background: var(--quantity-bg);
		color: var(--quantity-color);
		font-size: rem(14);
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		padding-top: 1px;
		//padding-right: 1px;
		@include square(rem(24));
		transition: all var(--duration-fast);
	}

	&__icon {
		transition: all var(--duration-fast);
	}

	&__text {
		line-height: 1;
		transition: all var(--duration-fast);
		font-size: adapt(16, 14);
	}
}
