.heading {
	&__title {
		max-width: rem(482);
	}

	&__description {
		max-width: rem(482);
	}

	&__icon {
		color: var(--color-accent);
		display: block;
		svg {
			width: 80%;
			
			@include media($mobile) {
				width: 60%;
			}
		}
	}
}