.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100dvh;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all var(--duration-medium);
	background: var(--color-accent);

	&.loader-hidden {
		transform: translateY(100%);
		visibility: hidden;
	}

	&__running-line {
		position: relative;
		z-index: 2;
		font-size: adapt(120, 40);
	}
}
