[data-running-line] {
	--running-line-gap: 20px;
	--running-line-speed: 25s;
	--running-line-direction: forwards; // reverse

	overflow: hidden;
}

[data-running-line="right"] {
	--running-line-direction: reverse;
}

[data-running-line="left"] {
	--running-line-direction: forwards;
}

[data-running-line-list] {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	gap: var(--running-line-gap);
	width: max-content;
	will-change: transform;
	animation: runningLine var(--running-line-speed, 15s) var(--running-line-direction) infinite linear;
}

@keyframes runningLine {
	$runningLineGap: var(--running-line-gap, 0);

	to {
		transform: translateX(calc(-50% - #{$runningLineGap} / 2));
	}
	//to {
	//	@if ($runningLineGap == 0) {
	//		transform: translateX(-50%);
	//	} @else {
	//		transform: translateX(calc(-50% - #{$runningLineGap} / 6));
	//	}
	//}
}

.running-line {
	background: var(--color-accent);
	padding-block: rem(20);
	font-weight: 700;
	font-family: var(--secondary-font);
	text-transform: uppercase;
	color: var(--color-sub-accent);
	font-size: adapt(30, 22);

	&__item {
		display: flex;
		align-items: center;
		gap: rem(24);

		&::after {
			content: '';
			@include square(rem(18));

			background-image: url('../images/star.svg');
			background-position: center center;
			background-size: 100%;
			background-repeat: no-repeat;
			
		}
	}
}
