.section {
	padding-block: adapt(120, 60);
	&--accent {
		background: var(--color-accent);
	}
	&--light {
		background-image: url('../images/section-bg.jpg');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
