.tab-buttons {
	display: flex;
	flex-direction: column;
	gap: adapt(30, 20);

	@include media($mobile) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
	}

	&__item {
		@include media($mobile) {
		}
	}

	&__button {
		font-family: var(--secondary-font);
		color: inherit;
		text-transform: uppercase;
		font-size: adapt(32, 20, 768);
		line-height: 120%;
		display: flex;
		align-items: center;
		transition: all var(--duration-medium);

		@include media($tablet) {
			font-size: adapt(20, 16, $finishBreakpoint, 768);
		}

		&:not(.active) {
			@include hover {
				color: var(--color-dark);
			}
		}

		&::before {
			content: "";
			height: rem(4);
			background: var(--color-accent);
			transition: all var(--duration-medium);
		}

		&.active {
			color: var(--color-dark);

			&::before {
				margin-right: adapt(30, 20, 768);
				width: adapt(40, 20, 768);
			}
		}
	}
}

.tabs {
	@include counter;

	&__item {
		max-width: rem(380);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: rem(60);
		min-height: rem(260);

		visibility: hidden;
		transform: scale(0);
		transition:
			transform var(--duration-medium),
			opacity var(--duration-medium);
		position: absolute;
		transform: translateY(-100%);
		opacity: 0;

		@include media($mobile) {
			min-height: unset;
		}

		&.active {
			position: relative;
			visibility: visible;
			transform: translateY(0);
			opacity: 1;
		}

		&::before {
			font-family: var(--secondary-font);
			font-weight: 600;
			font-size: adapt(96, 60);
			color: var(--color-accent);
			line-height: 100%;
		}
	}
}
