.text-content {
	&:not(:last-child) {
		margin-bottom: adapt(60, 40);
	}
	.title-3 {
		color: var(--color-dark);
		&:not(:last-child) {
			margin-bottom: adapt(30, 16);
		}
	}

	ul {
		@include reset;
		list-style-type: none;
		display: grid;
		gap: rem(6);

		li {
			display: flex;
			gap: rem(16);

			&::before {
				content: "";
				display: inline-flex;
				@include square(rem(10));
				background-color: var(--color-accent);
				flex-shrink: 0;
				border-radius: 50%;
				margin-top: 0.3em;
			}
		}
	}
}
