.text-content {
	&:not(:last-child) {
		margin-bottom: adapt(60, 40);
	}
	.title-3 {
		color: var(--color-dark);
		&:not(:last-child) {
			margin-bottom: adapt(30, 16);
		}
	}
	ol {
		@include reset;
		list-style-type: none;
		display: grid;
		gap: rem(6);

		@include counter(false);

		li {
			&::before {
				content: counter(order)".";
				padding-right: rem(4);
			}
		}
	}
	ul {
		@include reset;
		list-style-type: none;
		display: grid;
		gap: rem(6);

		li {
			padding-left: rem(20);
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 0.3em;
				left: 0;
				@include square(rem(8));
				background-color: var(--color-accent);
				flex-shrink: 0;
				border-radius: 50%;
			}
		}
	}

	a {
		display: inline;
		color: var(--color-dark);
		text-decoration: underline;
		transition: color var(--duration-fast);

		@include hover {
			color: var(--color-accent);
		}
	}

	li {
		p {
			display: inline-block;
		}
	}
}
