.title {
	font-size: adapt(48, 24);
	line-height: 110%;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--color-dark);
}
.title-2 {
	font-size: adapt(28, 22);
	line-height: 110%;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--color-dark);
}
.title-3 {
	font-size: adapt(24, 20);
	font-weight: 500;
	color: var(--color-dark);
}
