.about {
	&__container {
		grid-template-columns: rem(482) 1fr;

		@include media($laptop-s) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media($mobile) {
			grid-template-columns: 1fr;
		}
	}

	&__heading {
		justify-self: end;
		grid-column: 2;
		grid-row: 1;

		.heading__title {
			position: relative;
			display: grid;
			gap: rem(10);
		}

		@include media($mobile) {
			grid-column: initial;
			grid-row: 2;
		}
	}

	&__image {
		grid-column: 1;
		grid-row: 1 / 3;
		position: relative;

		@include bgimg;

		@include media($tablet) {
			grid-row: initial;
			min-height: 500px;
		}
		@include media($mobile) {
			grid-row: 1;
			max-width: rem(360);
		}
	}

	&__columns {
		grid-column: 2;
		grid-row: 2 / 4;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(60) rem(30);

		@include media($tablet) {
			grid-column: 1 / -1;
			grid-row: initial;
		}

		@include media($mobile-m) {
			grid-template-columns: 1fr;
		}
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: adapt(60, 30);
	}

	&__btn-box {
		grid-column: 1;
		grid-row: 2 / 4;
		align-self: end;

		@include media($tablet) {
			grid-row: initial;
		}
	}
}
