.error-page {
}
.error-section {
	background: var(--color-accent);
	color: var(--color-sub-accent);
	padding-top: calc(var(--header-height) + rem(10));
	padding-bottom: adapt(60, 30);

	&__running-line {
		font-size: adapt(250, 100);
	}

	&__container {
		--container-width: #{rem(1000)};
		position: relative;
		z-index: 2;

		display: grid;
		justify-content: center;
	}

	&__title {
		text-align: center;
	}

	&__links {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: adapt(30, 15) rem(60);
	}

	&__link {
		text-transform: uppercase;
		font-weight: 500;
		color: var(--color-gray);
	}
}
