.footer {
	background: var(--color-accent);

	&__container {
		padding-block: adapt(80, 60) adapt(100, 80);
		@include media($mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__copyrights {
		font-size: inherit;


	}
	.btn-arrow {
		justify-self: end;
	}
	&__developer {
		justify-self: end;
		.link {
			font-weight: 500;
		}
	}
}
.container {
}
.section {
}

.link {
}
