@mixin contact-btn {
	position: fixed;
	bottom: 0;
	right: max(var(--container-padding), calc((100% - var(--container-width)) / 2));
}

@keyframes slideDown {
	0% {bottom: 100%;}
	100% {bottom: 0;}
}

.header {
	padding: adapt(30, 5) 0 adapt(20, 10);
	z-index: 100;
	transition: all var(--duration-fast);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	&.header-bg {
		//padding-block: 6px;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		text-align: center;
		gap: rem(30);

		.header-bg & {
			align-items: center;
		}

		@include media($tablet) {
			align-items: center;
		}
	}

	&__menu {
		padding-top: rem(4);
	}

	&__btn {
		position: relative;
		flex-shrink: 0;
		transition: all var(--duration-medium);

		.header-bg & {
			@include contact-btn;
			animation: slideDown var(--duration-medium);
			border: 1px solid var(--color-light);
		}
		
		.menu-open & {
			transform: translateY(0);
			opacity: 1;
			z-index: 2;
			border-color: transparent;
		}
		@include media($tablet) {
			@include contact-btn;
		}
	}

	.logo {
		position: relative;
		transition: transform var(--duration-medium);

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%) translateY(-120%);
			opacity: 0;
			@include square(adapt(220, 120));
			z-index: -1;
			border-radius: 50%;
			background: var(--color-sub-accent);
			transition: transform var(--duration-medium);
		}

		.header-bg & {
			position: fixed;
			z-index: 2;
			top: adapt(30, 5);
			color: var(--color-accent);
			transform: translateY(-100%);
			visibility: hidden;
			opacity: 0;

			&::before {
				opacity: 1;
				transform: translateX(-50%) translateY(-55%);
			}
		}

		.menu-open & {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
	}
}

.logo {
	flex-shrink: 0;
	color: var(--color-dark);
	font-weight: 600;
	font-size: adapt(24, 14);
	font-family: var(--secondary-font);
}
