.header {
	padding: adapt(30, 5) 0 adapt(20, 10);
	z-index: 100;

	&__container {
		display: flex;
		justify-content: space-between;
		text-align: center;
		gap: rem(30);

		@include media($tablet) {
			align-items: center;
		}
	}

	&__menu {
		padding-top: rem(4);
	}

	&__btn {
		flex-shrink: 0;
		@include media($tablet) {
			order: 1;
		}
	}
}

.logo {
	flex-shrink: 0;
	color: var(--color-dark);
	font-weight: 600;
	font-size: rem(24);
	font-family: var(--secondary-font);
}
