.services {
	&__container {
		align-items: end;
	}

	&__tab-buttons {
		order: 2;

		@include media($mobile) {
			order: 1;
		}
	}

	&__tabs {
		order: 1;
		@include media($mobile) {
			order: 2;
		}
	}
}
