.advantages {
	padding: 3rem 0;

	@media (max-width: em(600)) {
		padding: 1.5rem 0;
	}
	&__body {
	}

	&__title {
	}

	&__list {
		--column: 3;
		--width: calc((100% - (2rem * (var(--column) - 1))) / var(--column));
		@include reset;
		list-style-type: none;

		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(36rem, auto));
		gap: 2rem;

		@media (max-width: em(600)) {
			grid-template-columns: 1fr;
		}
	}

	&__item {
	}
}

.advantages-item {
	padding: 4rem;
	background: var(--light);
	border-radius: 5rem;
	box-shadow: var(--shadow);

	@media (max-width: em(399)) {
		padding: 3rem;
	}
	&__heading {
		display: flex;
		gap: 2rem;

		@media (max-width: em(399)) {
			gap: 1rem;
		}

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&__icon {
		flex-shrink: 0;
		width: 6rem;
		height: 6rem;
		background: var(--bg-accent);
		border-radius: 50%;
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: var(--shadow);
		
		@media (max-width: em(399)) {
			width: 5rem;
			height: 5rem;
		}
	}

	&__title {
		@include reset;
		align-self: center;
		text-transform: uppercase;
		color: var(--dark);
		max-width: 20rem;
		font-size: 2.2rem;

		@media (max-width: em(799)) {
			font-size: 2rem;
			max-width: 100%;
		}

		@media (max-width: em(600)) {
			font-size: 1.8rem;
		}
	}

	&__descr {
		@include reset-child;
	}
}
