.contacts {
	padding: 8rem 0;
	background: var(--light-gradient-0);

	@media (max-width: em(600)) {
		padding: 3rem 0 ;
	}
	&__body {
	}

	&__title {
	}

	&__content {
		display: flex;
		align-items: center;
		position: relative;
		padding-top: 6rem;
		padding-bottom: 6rem;
		padding-right: 6rem;

		@media (max-width: em(799)) {
			padding: 0;
			flex-direction: column;
			align-items: start;
		}
	}

	&__info-wrapper {
		width: 100%;
	}
	&__info {
		border-radius: 5rem;
		border: 5px solid var(--dark);
		box-shadow: var(--shadow);
		background: var(--bg-accent);
		padding: 4rem;
		width: 60%;
		padding-right: 24rem;
		position: relative;

		@media (max-width: em(1199)) {
			padding-left: 2rem;
			padding-right: 22rem;
		}
		@media (max-width: em(1000)) {
			padding-right: 13rem;
		}
		@media (max-width: em(799)) {
			width: 100%;
			padding-top: 2rem;
			padding-right: 2rem;
			padding-bottom: 10rem;
			border-radius: 3rem;
		}
	}

	&__subtitle {
		@include reset;
		font-size: 2.6rem;
		display: flex;
		text-transform: uppercase;
		color: var(--dark);
		gap: 2rem;
		font-weight: 700;

		@media (max-width: em(1000)) {
			font-size: 2.2rem;
			gap: 1rem;
		}
		@media (max-width: em(600)) {
			font-size: 2rem;
		}
		&:not(:last-child) {
			margin-bottom: 4rem;

			@media (max-width: em(1000)) {
				margin-bottom: 2rem;
			}
		}
	}

	&__subtitle-icon {
		width: 5rem;
		height: 5rem;
		flex-shrink: 0;
		@media (max-width: em(1000)) {
			width: 4rem;
			height: 4rem;
		}
		svg {
			width: 100% !important;
			height: auto;
		}
	}
	&__subtitle-text {
		padding-top: 0.8rem;
	}
	&__form {
	}

	&__social-box {
		position: absolute;
		top: 35%;
		left: -7rem;
		max-width: 40rem;
		border-radius: 5rem;
		border: 5px solid var(--dark);
		box-shadow: var(--shadow);
		background: var(--secondary);
		padding: 4rem 3rem;
		z-index: 2;
		@media (max-width: em(799)) {
			top: unset;
			bottom: 0;
			left: unset;
			right: 0;
			padding: 3rem;
		}
		@media (max-width: em(600)) {
			padding: 2rem;
			border-radius: 3rem;
		}
	}
	&__social-list {
		@include reset;

		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 2rem;

		@media (max-width: em(1000)) {
			gap: 1rem;
		}
	}

	&__image-box {
		position: absolute;
		top: 0;
		height: 100%;
		right: 0;
		width: 55%;
		flex: 0 1 55%;

		@media (max-width: em(1000)) {
			width: 50%;
		}

		@media (max-width: em(799)) {
			width: 100%;
			position: relative;
			top: unset;
			left: unset;
			right: unset;
			bottom: unset;
			margin-top: -8rem;
			padding: 0 8rem;
			padding-bottom: 16rem;
		}

		@media (max-width: em(600)) {
			padding: 0 2rem;
			padding-bottom: 16rem;
		}
	}
	&__image {
		position: relative;
		height: 60%;
		overflow: hidden;
		border-radius: 5rem;
		border: 5px solid var(--dark);

		@media (max-width: em(799)) {
			padding-bottom: 60%;
		}
		@media (max-width: em(600)) {
			padding-bottom: unset;
			height: 32rem;
			border-radius: 3rem;
		}
		img,
		picture,
		source {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			object-fit: cover;
		}
	}
}
.social {
	&__item {
	}

	&__link {
		display: inline-flex;
		gap: 2rem;
		align-items: center;
		color: var(--bg);
		background: var(--dark);
		padding: 1rem 2rem;
		box-shadow: var(--shadow);
		border-radius: 50rem;
		transition: all 0.3s;
		border: 4px solid transparent;
		font-weight: 500;
		//word-break: break-all;

		@media (max-width: em(1000)) {
			gap: 1rem;
		}
		@media (max-width: em(600)) {
			padding: 1rem 1.5rem;
		}
		&:hover {
			color: var(--dark);
			background: var(--bg);
			border-color: var(--dark);
		}
	}

	&__link-icon {
		flex-shrink: 0;
		width: 4rem;
		height: 4rem;

		@media (max-width: em(1000)) {
			width: 2.6rem;
			height: 2.6rem;
		}
		svg {
			width: 100% !important;
			height: auto;
		}
	}

	&__link-text {
		font-size: 1.8rem;
		text-transform: uppercase;

		@media (max-width: em(1000)) {
			font-size: 1.6rem;
		}
		@media (max-width: em(600)) {
			font-size: 1.4rem;
		}
	}
}
.form {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;

	&__field {
		display: flex;
		flex-direction: column;
	}

	&__label {
		font-weight: 500;
		font-size: 1.8rem;

		@media (max-width: em(799)) {
			font-size: 1.6rem;
		}
		&:not(:last-child) {
			margin-bottom: 0.8rem;
		}
	}

	&__input {
		border: 3px solid var(--dark);
		background: var(--bg);
		border-radius: 3rem;
		padding: 1.6rem 2rem;
		box-shadow: var(--shadow);
	}

	&__textarea {
		height: 10rem;
		resize: none;
	}

	&__btn {
		font-size: 2.2rem;
		display: flex;
		justify-content: center;
		text-align: center;
	}
}
