.section-404 {
	background: linear-gradient(180deg, #ddbc89 80%, rgba(221, 188, 137, 0) 88.88%, #f3eadb 88.88%);
	&__body {
		--padding-top: calc(var(--header-height) + 1rem);
		--padding-bottom: 8rem;
		min-height: 100dvh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding-top: var(--padding-top);
		padding-bottom: var(--padding-bottom);
		gap: 0.4rem;
	}

	&__title-hidden {
		height: 0;
		width: 0;
		font-size: 0;
		position: absolute;
		z-index: -100;
		visibility: hidden;
	}

	&__title {
		text-align: center;
		margin-bottom: 0 !important;
	}

	&__icon-box {
		display: flex;
		align-items: center;
		gap: 1rem;
		position: relative;
	}

	&__icon-num {
		display: inline-flex;
		font-size: 30rem;
		line-height: 1;
		font-weight: 700;
		color: var(--dark);

		@media (max-width: em(799)) {
			font-size: 22rem;
		}
		@media (max-width: em(600)) {
			font-size: 12rem;
		}
	}

	&__icon-animate {
		position: absolute;
		top: 2rem;
		left: 13rem;
		animation: dartMove 0.7s ease-in; //infinite alternate

		@media (max-width: em(799)) {
			top: 1rem;
			left: 9rem;
			width: 10rem;
		}
		@media (max-width: em(600)) {
			width: 6rem;
			left: 5rem;
		}
	}

	&__icon {
		flex-shrink: 0;
		max-width: 23rem;
		@media (max-width: em(799)) {
			max-width: 16rem;
		}

		@media (max-width: em(600)) {
			max-width: 10rem;
		}
	}

	&__content {
	}

	&__descr {
		@include reset-child;
		text-align: center;
		font-size: 3.2rem;
		text-transform: uppercase;
		font-weight: 500;
		max-width: 50rem;
		margin: 0 auto;
		color: var(--dark);
		@media (max-width: em(799)) {
			font-size: 2.2rem;
		}
		&:not(:last-child) {
			margin-bottom: 3rem;

			@media (max-width: em(799)) {
				margin-bottom: 2rem;
			}
		}
	}

	&__list {
		@include reset;
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 2rem;

		@media (max-width: em(799)) {
			gap: 1rem;
		}
	}

	&__item {
		@media (max-width: em(600)) {
			flex: 1 1 100%;
		}
	}

	&__link {
		text-align: center;
		@media (max-width: em(600)) {
			text-align: center;
			justify-content: center;
			width: 100%;
		}
	}
}
@keyframes dartMove {
	0% {
		transform: translateX(700%) translateY(300%) scale(3) rotate(85deg);
	}
	100% {
		transform: translate(0) scale(1);
	}
}
