.steps {
	padding: 3rem 0;

	.container {
		--container-width: 100rem;
	}

	&__body {
	}

	&__title {
	}

	&__list {
		@include reset;
		list-style-type: none;
		box-shadow: var(--shadow);
		border-radius: 5rem;
		overflow: hidden;

		@media (max-width: em(799)) {
			border-radius: 3rem;
		}
	}

	&__item {
	}
}
.steps-item {
	counter-reset: unset;
	counter-increment: step-counter;

	&.active {
		.steps-item__heading {
			&::after {
				transform: rotate(45deg);
			}
		}
		.steps-item__content {
			height: 100%;
		}
	}

	&:first-child {
		.steps-item__heading {
			border-radius: 5rem 5rem 0 0;
			@media (max-width: em(799)) {
				border-radius: 3rem 3rem 0 0;
			}
		}
	}
	&:last-child {
		.steps-item__heading {
			border-radius: 0 0 5rem 5rem;
			border-bottom: none;

			@media (max-width: em(799)) {
				border-radius:0 0 3rem 3rem ;
			}
		}
	}
	&:not(:last-child) {
		.steps-item__wrapper {
			border-bottom: 4px solid var(--dark);
		}
	}
	&.active:last-child {
		.steps-item__heading {
			border-radius: 0;
			border-bottom: 4px solid var(--dark);
		}
	}

	&:nth-child(-n + 9) {
		// от 1 до 9
		.steps-item__heading::before {
			content: "0" counter(step-counter);
		}
	}

	&__heading {
		background: var(--bg-accent);
		padding: 2rem 3rem;
		display: flex;
		gap: 3rem;
		align-items: center;
		overflow: hidden;
		border-bottom: 4px solid var(--dark);
		justify-content: space-between;
		cursor: pointer;
		text-align: center;
		transition: all 0.3s;

		@media (max-width: em(799)) {
			gap: 2rem;
		}
		@media (max-width: em(399)) {
			padding: 1rem 2rem;
		}

		&::before {
			content: counter(step-counter);
			display: block;
			font-size: 4.6rem;
			text-transform: uppercase;
			font-weight: 500;
			color: var(--dark);
			@media (max-width: em(799)) {
				font-size: 3.6rem;
			}
			@media (max-width: em(399)) {
				font-size: 3rem;
			}
		}
		&::after {
			content: "+";
			display: block;
			font-size: 7rem;
			text-transform: uppercase;
			font-weight: 500;
			line-height: 0;
			color: var(--dark);
			transition: all 0.3s;
			@media (max-width: em(799)) {
				font-size: 6rem;
			}
			@media (max-width: em(399)) {
				font-size: 4rem;
			}
		}
	}

	&__title {
		@include reset;
		font-size: 2.8rem;
		text-transform: uppercase;
		color: var(--dark);
		font-weight: 700;

		@media (max-width: em(1000)) {
			font-size: 2.6rem;
		}
		@media (max-width: em(799)) {
			font-size: 2.4rem;
		}
		@media (max-width: em(399)) {
			font-size: 1.8rem;
		}
	}

	&__content {
		height: 0;
		overflow: hidden;
		transition: all 0.3s;
	}

	&__wrapper {
		padding: 4rem 3rem;
		@include reset-child;
		background: var(--secondary);
		font-size: 1.8rem;

		@media (max-width: em(799)) {
			padding: 3rem;
		}
		@media (max-width: em(600)) {
			padding: 2rem 3rem;
			font-size: 1.6rem;
		}
		
	}
}
