// FONT-FACE MIXIN
@mixin font-face($font-family, $file-path, $weight: 400, $style: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
		src: url("#{$file-path}.eot");
		src: url("#{$file-path}.eot?#iefix") format("embedded-opentype"), url("#{$file-path}.woff2") format("woff2"),
			url("#{$file-path}.woff") format("woff"), url("#{$file-path}.ttf") format("truetype");
	}
}

// PERCENTAGE LINE-HEIGHT
@function lh($line-height, $font-size) {
	@return calc($line-height / $font-size * 100%);
}

// FROM PX TO REM
@function rem($px) {
	@return calc($px / 16) + rem;
}
// FROM PX TO EM
@function em($px) {
	@return calc($px / 16) + em;
}

// ADAPTIVE IMAGE HEIGHT CALCULATOR
@function imgpb($width, $height) {
	@return calc($height / $width * 100%);
}

@mixin reset {
	padding: 0;
	margin: 0;
}