:root {
	// Adaptive
	--index: calc(1vw + 1vh);

	// COLORS
	--dark: #2c261b;
	--dark-op: rgba(44, 38, 27, 0.6);
	--bg: #f3eadb;
	--bg-accent: #ddbc89;
	--light: #ebd7b8;
	--light-op: rgba(235, 215, 184, 0.6);
	--light-op-7: rgba(235, 215, 184, 0.7);
	--accent: #2c261b;
	--secondary: #ebd7b8;
	--secondary-gradient: linear-gradient(90deg, rgba(255, 255, 255, 0),#ebd7b8);
	--third: #ddbc89;
	--text: #413c32;
	--dark-gradient: linear-gradient(to left, rgba(255, 255, 255, 0), #2c261b);
	--light-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0), #ebd7b8);
	--light-gradient-0: linear-gradient(180deg, rgba(255, 255, 255, 0)0%, #ebd7b8 10%);
	--bg-gradient: linear-gradient(
		0deg,
		rgba(243, 234, 219, 1) 0%,
		#ebd7b8 5%,
		#ebd7b8 95%,
		rgba(243, 234, 219, 1) 100%
	);
	//--secondary-op: rgba(252, 211, 77, 0.8);

	--header-height: 10rem;

	// MEDIA
	--1400: 1400;
	--1200: 1200;
	--1000: 1000;
	--800: 800;
	--600: 400;
	--400: 400;

	@media (max-width: em(1400)) {
		--header-height: 8rem;
	}

	// SHADOWS
	--shadow: 0px 0px 10px 0px rgba(45, 45, 45, 0.3);

	// CONTAINER
	--container-width: 124rem;
	--container-padding: 1.5rem;

	// FONTS
	--main-font: "Rubik", sans-serif;
	--font-size: calc(10 / 16 * 100%);
}
