// Автоматически сгенерированный файл 

@font-face {
	font-family: "Racama";
	font-display: swap;
	src: url("../fonts/Racama.woff2") format("woff2"),
		url("../fonts/Racama.woff") format("woff"),
		url("../fonts/Racama.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Unbounded-VF";
	font-display: swap;
	src: url("../fonts/Unbounded-VariableFont_wght.woff2") format("woff2-variations"),
		url("../fonts/Unbounded-VariableFont_wght.woff") format("woff-variations"),
		url("../fonts/Unbounded-VariableFont_wght.ttf") format("truetype-variations");
		font-weight: 100 900;
		font-style: normal;
}

