.none {
	display: none !important;
}

.no-scroll {
	overflow: hidden;
}

.visually-hidden {
	@include visually-hidden;
}

.hidden-mobile {
	@include media($tablet, max) {
		display: none !important;
	}
}

.visible-mobile {
	@include media($tablet, min) {
		display: none !important;
	}
}

// для column
.no-break {
	break-inside: avoid;
}

.wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	min-height: 100dvh;

	& > main {
		padding-top: var(--header-height);
		flex: 1 1 auto;
	}
}

.container {
	max-width: calc(var(--container-width) + (var(--container-padding) * 2));
	padding: 0 var(--container-padding);
	margin: 0 auto;

	&--wide {
		--container-width: #{rem(1400)};
	}
}

.flex {
	display: flex;
}

.flex-jc-sb {
	justify-content: space-between;
}

.flex-jc-c {
	justify-content: center;
}

.flex-ai-c {
	align-items: center;
}

.flex-cc {
	justify-content: center;
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

@keyframes gravity {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-20px);
	}
}