// Для adapt()
// - ширина полотна (макета)
$templateWidth: 1920;
// - минимальная ширина страницы
$finishBreakpoint: 320;
$unitsDefault: ""; // px / rem / ''

$laptop: 1440.98;
$laptop-s: 1280.98;
$tablet: 1024.98;
$mobile: 768.98;
$mobile-l: 639.98;
$mobile-m: 459.98;
$mobile-s: 319.98;

:root {
	// Adaptive
	--index: calc(1vw + 1vh);

	// COLORS
	--color-dark: #212529;
	--color-gray: #495057;
	--color-gray-light: #ced4da;
	--color-gray-light-2: #f1f3f5;
	--color-gray-dark: #adb5bd;
	--color-accent: #fcd34d;
	--color-accent-light: #fde68b;
	--color-light: #f8f9fa;

	// CONTAINER
	--container-width: #{rem(1200)};
	--container-padding: #{rem(15)}; //! даже если контейнер на весь экран, отсупы оставь а ширину сделай на 100%

	// FONTS
	--font-size-html: 100%; // 1rem = 1px ===> calc(1 / 16 * 100%)
	--font-size: #{adapt(18, 16)};
	--font-family-main: "Rubik", sans-serif;

	// TRANSITION
	--duration-fast: 0.3s;
	--duration-medium: 0.5s;
	--duration-slow: 0.8s;

	// Other
	--header-height: #{rem(91)};
}
