.image-box {
	--img-fit: cover;
	--img-position: center;
	--position: relative;

	position: var(--position);

	img,
	video,
	picture,
	source {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: var(--img-fit);
		object-position: var(--img-position);
	}
}
